.tabela tr > th:last-child,
.tabela tr > td:last-child
{
    width: 1%;
    white-space: nowrap;
    text-align: right;
}

.tabela tr > th:nth-child(7),
.tabela tr > td:nth-child(7),
.tabela tr > th:nth-child(6),
.tabela tr > td:nth-child(6),
.tabela tr > th:nth-child(5),
.tabela tr > td:nth-child(5),
.tabela tr > th:nth-child(4),
.tabela tr > td:nth-child(4)
{
    text-align: center;

}